In [ ]:
import pandas as pd

# Creating Dim-Segment table
dim_segment = pd.DataFrame({
    'Segment': ['Group', 'Auto', 'Moto', 'Finance','Other','Elimination'],
    'segment_id': [0, 1, 2, 3, 4, 5]
})

income_statement_features = ['Revenues', 'CostOfSales', 'GrossProfit', 'ProfitLossBeforeFinancialResult', 'FinancialResult', 'ProfitLossBeforeTax', 'IncomeTaxes', 'NetProfitLoss']

for year in range(2011, 2022):
    file_path = f'./data/Report_{year}_A_F-IncomeStatement.csv'
    df = pd.read_csv(file_path, header=None)

    # Skip the first row (original headers) and transpose
    df = df.iloc[1:].T

    # Remove the row with original column names
    df = df.iloc[1:]

    df.columns = income_statement_features

    # Initialize segment_id counter
    segment_id = 0

    for index, row in df.iterrows():
        df.at[index, 'segment_id'] = segment_id
        segment_id = (segment_id + 1) % len(dim_segment)  # Increment and loop back to 0 if needed


    df['year'] = year

    if year == 2011:
        df_income_statement = df
    else:
        df_income_statement = pd.concat([df_income_statement, df])

df_income_statement.to_csv('F-IncomeStatement.csv', index=False)

# Dim-Time and Dim-Segment tables
dim_time = pd.DataFrame({'year': range(2011, 2022)})
dim_time.to_csv('Dim-Time.csv', index=False)
dim_segment.to_csv('Dim-Segment.csv', index=False)

In [ ]:
df_income_statement.head(100)

,Revenues,CostOfSales,GrossProfit,ProfitLossBeforeFinancialResult,FinancialResult,ProfitLossBeforeTax,IncomeTaxes,NetProfitLoss,segment_id,year
1,68821.00,-54276.00,14545.00,8018.00,-635.00,7383.00,-2476.00,4907.00,0.0,2011
2,63229.00,-50164.00,13065.00,7477.00,-654.00,6823.00,-1832.00,4991.00,1.0,2011
3,1436.00,-1207.00,229.00,45.00,-4.00,41.00,-12.00,29.00,2.0,2011
4,17510.00,-15013.00,2497.00,1763.00,27.00,1790.00,-1053.00,737.00,3.0,2011
5,5.00,–,5.00,-19.00,-149.00,-168.00,37.00,-131.00,4.0,2011
...,...,...,...,...,...,...,...,...,...,...
2,95476,-78637,16839,9870,1935,11805,-2645,9160,1.0,2021
3,2748,-2259,489,227,1,228,-51,177,2.0,2021
4,32867,-27749,5118,3701,52,3753,-838,2915,3.0,2021
5,5,0,5,-8,539,531,-119,412,4.0,2021
6,-19857,19392,-465,-390,133,-257,56,-201,5.0,2021